/* TATIANA MARCELA CARTAGENA */

body{
	background: #33FFF3;	
}

h1{
background-color:gray;
color:black;	
text-align:center;
}


.todo{
margin-left: 27%;
		  width: 80em;
		  height: 30em;"
}


.rojo{
	 width:1%;
	 height:100%;
	 float:left; 
	 background:#F70606;
}

.azul{
	  width:1%;
	  height:100%;
	  float:left; 
	  background:#0632F7;
}

.amarillo{
	  width:4%;
	  height:100%;
	  float:left; 
	  background:#F7E806;
}

.rojo2{
	width:7%;
	height:100%;
	float:left; 
    background:#F70606;
}

.azul2{
	  width:14%; 
	  height:100%;
	  float:left; 
	  background:#0632F7;
}

.amarillo2{
	  width:25%;
	  height:100%;
	  float:left;
	  background:#F7E806; 
}